{% extends 'base.html' %}
{% load static %}
{% block meta %}<title>Instructions</title>{% endblock %}
{% block css %}
<style type="text/css">
	.base-section{
		height: 0;
		min-height: 0;
	}
	span.border-line{
		display: inline-block;
		width: 600px;
		height: auto;
		padding:  5px 0;
		background-color: red;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 999;
		color:  #fff;
		text-align: center;
		font-weight: 500;
		letter-spacing: 0.5px;
	}
	span.border-line.top{
		top: 10px;

	}
	span.border-line.bottom{
		bottom: 15px;
	}
</style>
{% endblock %}
{% block content %}
<section class="pb-5" style="margin-top: 76px;position: relative;">
	<span class="border-line top">
		***Please Fill in the class IX Annual Examination marks only.***
	</span>
	<div class="container pt-5 bg-white" style="position: relative;">
		<h2 class="mb-4 mt-2" style="position: relative;">Marks Entry Website Instructions</h2>
		<div class="row my-3">
			<div class="col-md-6">
				<h5>Step 1</h5>
				<p>Go to the URL: <a target="_blank" href="https://www.wbbmedata.com">https://www.wbbmedata.com</a></p>
				<h5>Step 2</h5>
				<p>Once you get the Home page, click on the Login Page</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/instructions/1.png' %}" class="img-fluid" alt="" />
			</div>
		</div>
		<hr>
		<div class="row my-3">
			<div class="col-md-6">
				<img src="{% static 'img/instructions/2.png' %}" class="img-fluid" alt="" />
			</div>
			<div class="col-md-6">
				<h5>Step 3</h5>
				<p>Now click on login and then you get the following page:</p>
			</div>
		</div>
		<hr>
		<div class="row my-3">
			<div class="col-md-6">
				<h5>Step 4</h5>
				<p>For the 1st time enter your Madrasah index as your username and ‘password’ all in small letters as your password. After this you get a profile form only for the first time where in you fill your name , email and phone number. Then you are sent to a page to change your password given below and this is only for the 1st time login. After this process when ever you login, just enter the Madrasah index as username and the changed password or the new password as your password. </p>
				<p><strong>User profile page : (only for the 1st time login )</strong></p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/instructions/3.png' %}" class="img-fluid" alt="" />
			</div>
		</div>
		<hr>
		<div class="row my-3">
			<div class="col-md-6">
				<img src="{% static 'img/instructions/4.png' %}" class="img-fluid" alt="" />
			</div>
			<div class="col-md-6">
				<p><strong>Change password : (only for the 1st time login )</strong></p>
			</div>
		</div>
		<hr>
		<div class="row my-3">
			<div class="col-md-6">
				<h5>Step 5</h5>
				<p>Once the password is changed then you are sent in to your Madrasah dashboard where in you get your Madrasah index and name. Below that is a table which tells the figure of Regular, Continuing, Compartmental, Total Candidates, Total students whose marks Entry are left and total students whose marks entry are done. Now on top of the students table you see a button saying “Start Entering Marks”. Whenever you click this button it takes you to the first unentered marks candidate in your candidate list. The screen is given below for the students list:</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/instructions/5.png' %}" class="img-fluid" alt="" />
			</div>
		</div>
		<hr>
		<div class="row my-3">
			<div class="col-md-6">
				<img src="{% static 'img/instructions/6.png' %}" class="img-fluid" alt="" />
			</div>
			<div class="col-md-6">
				<h5>Step 6</h5>
				<p>Now after clicking on “Start Entering marks” Button you get the following screen: </p>
			</div>
		</div>
		<hr>
		<div class="row my-3">
			<div class="col-md-6">
				<h5>Step 7</h5>
				<p>Enter Your marks for the subjects and click on preview  and you get the following preview screen:</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/instructions/7.png' %}" class="img-fluid" alt="" />
			</div>
		</div>
		<hr>
		<div class="row my-3">
			<div class="col-md-6">
				<img src="{% static 'img/instructions/8.png' %}" class="img-fluid" alt="" />
			</div>
			<div class="col-md-6">
				<h5>Step 8</h5>
				<p>Here you  get an Edit and submit button. If all marks are ok press submit or else press edit again to go back to previous screen. After successfully submitting the form, you automatically go to the form of the next candidate and fill its marks. When you have completed filling all the marks you get a message that “All your marks submission has been done successfully. Thanks for your co-operation.”. </p>
			</div>
		</div>
		<hr>
		<h2 class="mb-4">Special Instructions (High Madrasah Examination)</h2>
		<div class="row">
			<div class="col-md-6">
				<p>All the marks to be submitted are to be out of 100. Or else if a student is absent in any subject ‘AB’ is to be entered . any marks entered above 100 and other than ab will show error as below:</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/instructions/9.png' %}" class="img-fluid" alt="" />
			</div>
		</div>
		<hr>
		<h2 class="mb-4">Special Instructions (Alim Examination)</h2>
		<div class="row">
			<div class="col-md-6">
				<img src="{% static 'img/instructions/10.png' %}" class="img-fluid" alt="" />
			</div>
			<div class="col-md-6">
				<p>All the marks to be submitted are to be out of 100 except for “Fiqh”, ”Physical Science”, “Life Science” & “Geography” where in the marks to be submitted is to be out of 50. Or else if a student is absent in any subject ‘AB’ is to be entered . Any marks entered above 100 or 50 when and where applicable and other than ‘ab’ will show error as below:</p>
			</div>
		</div>
		<hr>
	</div>
	<span class="border-line bottom">
		***Please Fill in the class IX Annual Examination marks only.***
	</span>
</section>
{% endblock %}